read_input_parser_cvc.cpp
**/*.backup
**/tmp.cpp
**/tmp.h
**/*.patch
**/*.rej
**/*.orig
gitversion.cpp
build/
build_*/
test/
build.14.04.1-Ubuntu_serial_openmp
build.14.04.1-Ubuntu-tmLQCD-2dim/
build-2dim-noomp/
build-2dim/
build-4dim/
