read_input_parser_cvc.cpp
**/tmp.cpp
**/tmp.h
**/*.backup
**/.RData
**/.Rhistory
gitversion.cpp
TODO
DONE
build
build_2dim
build_3dim
build_4dim
build_cvc_tmlqcd_2dim
build_cvc_tmlqcd_serial
build_2dim_openmp
build-2dim-openmp
build_serial
build_juqueen/
build.14.04.1-Ubuntu_serial_openmp/
build_jureca_serial/
